* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
